---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  #header-top-container {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

.page-header a {
  color: #fff;
}
  
.default-layout, .landing {

  .page-header {
    padding: 1rem;
  }
}

#top-logo {
  img {
    vertical-align: middle;
  }
  span {
    font-weight: bold;
    padding: 2px 2px;
  }
}

#top-menu {
  margin: 0;
  padding: 0;
}

#top-menu li {
  display: inline-block;
}

#top-menu a {
  text-decoration: none;
  display: block;
  position: relative;
}

#top-menu li.active a {
  text-decoration: underline;
}
