---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  #header-top-container {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 64em) {
  .landing-layout .project-name {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .landing-layout .project-name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 42em) {
  .landing-layout .project-name {
    font-size: 1.5rem;
  }
}

.page-header a {
  color: #fff;
}

.default-layout, .landing-layout {

  .page-header {
    padding: 1rem;
  }
}

.landing-layout {
  .page-header .project-name {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

#about-me-footer {
  text-align: center;

  h3, h4, p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#top-logo {
  a {
    text-decoration: none;
  }
  img {
    vertical-align: middle;
  }
  span {
    font-weight: bold;
    padding: 2px 2px;
  }
}

#top-menu {
  margin: 0;
  padding: 0;
}

#top-menu li {
  display: inline-block;
}

#top-menu a {
  text-decoration: none;
  display: block;
  position: relative;
}

#top-menu li.active a {
  text-decoration: underline;
}
