<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">

    <title>danza tantra | Un espacio para abrir las alas y la sonrisa en el corazón</title>
    <meta property="og:title" content="danza tantra" />
    <meta property="og:locale" content="es_ES" />
    <meta name="description" content="Un espacio para abrir las alas y la sonrisa en el corazón" />
    <meta property="og:description" content="Un espacio para abrir las alas y la sonrisa en el corazón" />
    <link rel="canonical" href="https://danzatantra.com/" />
    <meta property="og:url" content="https://danzatantra.com/" />
    <meta property="og:site_name" content="danza tantra" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="danza tantra" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Un espacio para abrir las alas y la sonrisa en el corazón","headline":"danza tantra","name":"danza tantra","url":"https://danzatantra.com/"}</script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="logo-container"><img src="/assets/images/danzatantra-logo.png" width="180" height="180"></div>
      <h1 class="project-name">danza tantra</h1>
      <h2 class="project-tagline">Un espacio para abrir las alas y la sonrisa en el corazón</h2>
      <nav id="top-menu-nav">
        <ul id="top-menu" class="nav">
          <li class="menu-item active"><a href="/biodanza-granada">Biodanza</a></li>
          <li class="menu-item"><a href="/sobre-mi">Sobre mí</a></li>
        </ul>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div id="about-me-footer">
          <h3>Juan Olalla</h3>
          <h4>Facilitador de tantra, biodanza y relaciones conscientes</h4>
          <p>Contacta conmigo: (+34) 654 101 791</p>
          <p>Instagram: <a href="https://www.instagram.com/danzatantra">danzatantra</a></p>
          <p><a href="/sobre-mi">Conoce un poco más sobre mí</a></p>
        </div>
      </footer>
    </main>
  </body>
</html>
