<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">

    <title>Sesiones de Tantra en Granada | danza tantra</title>
    <meta property="og:title" content="danza tantra" />
    <meta property="og:locale" content="es_ES" />
    <meta name="description" content="Sesiones de tantra en Granada" />
    <meta property="og:description" content="Sesiones de tantra en Granada" />
    <link rel="canonical" href="https://danzatantra.com/tantra-granada" />
    <meta property="og:url" content="https://danzatantra.com/tantra-granada" />
    <meta property="og:site_name" content="danza tantra" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="danza tantra" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Sesiones de tantra en Granada","headline":"danza tantra","name":"danza tantra","url":"https://danzatantra.com/"}</script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body class="landing-layout">
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div class="page-header-content">
        <div id="header-top-container">
          <div id="top-logo"><a class="home-link" href="/">
            <span class="text-logo-left">danza</span>
            <img class="logo" src="/assets/images/danzatantra-logo.png" title="danza tantra" alt="Inicio" width="42" height="42">
            <span class="text-logo-right">tantra</span>
          </a></div>
          <nav id="top-menu-nav">
            <ul id="top-menu" class="nav">
              <li class="menu-item"><a href="/biodanza-granada">Biodanza</a></li>
              <li class="menu-item active"><a href="/tantra-granada">Tantra</a></li>
              <li class="menu-item"><a href="/sobre-mi">Sobre mí</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div id="about-me-footer">
          <h3>Juan Olalla</h3>
          <h4>Facilitador de tantra, biodanza y relaciones conscientes</h4>
          <p>Contacta conmigo: (+34) 654 101 791</p>
          <p>Instagram: <a href="https://www.instagram.com/danzatantra">danzatantra</a></p>
        </div>
      </footer>
    </main>
  </body>
</html>
